* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9d9d9;
}

.fcabecera {
    background-color: #2eb82e;
    width: 100%;
    height: auto;
}

.fcabecera2 {
    background-image: url('../IMG/separacion1.webp');
    width: auto;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.fcab1 {
    font-weight: bold;
    color: #fcfcfc;
}

.fcab2 {
    color: #ff0000;
    Font-Weight:Bold;
}

h2 {
    color: #fc0000;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #0000ff;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-weight: bold;
    color: #fc0000;
    text-align: center;
}

.aligntext {
    text-align: justify;
}

.aligntext1 {
    text-align: center;
}

.style1 {
    color: #fcfcfc;
    Font-Weight:Bold;
    transition: color .3s ease-in-out;
    &::before {
        transition: transform .3s ease-in-out;
    }
    &:hover {
        color: #fc0000;
    } 
}

.banner {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}
  
.imgb {
    width: 100%;
}

.ffondo {
    position: absolute;
    white-space: nowrap;
}

.menuseparacion {
    width: 100%;
    height: auto;
}

.indexcontenido {
    width: 100%;
    height: auto;
}

.seccion1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectexto1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.desa2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartacontenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartacontenido2 {
    width: 100%;
    height: auto;
}

.boton1 {
    position: relative;
    margin: 0;
    padding: 17px 35px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
    border-radius: 10px;
    color: #1d89ff;
    font-weight: 400;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
  
.boton1 span {
    color: #164ca7;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.7px;
}
  
.boton1:hover {
    animation: rotate624 0.7s ease-in-out both;
}
    
@keyframes rotate624 {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

.introrec {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    width: 100%;
    height: auto;
}

.desa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imga {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}